@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    background-color: #111;
    color: rgb(0, 170, 255);
    text-align: center;
    justify-content: center;
    display: flex;

    h3 {
        line-height: 50px;
        font-size: 24px;
        color: rgb(34, 213, 241);
        
        font-family: "Caveat", cursive;
        font-weight: 500;
        text-shadow:
        0 0 7px rgb(0, 98, 255),
        0 0 10px rgb(34, 213, 241),
        0 0 21px rgb(34, 213, 241),
        0 0 42px rgb(34, 213, 241),
        0 0 65px rgb(34, 213, 241);

        
        font-style: normal;
    }
}